<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="my_data" title="msg://com.company.vzvod/menu.my_data.title" opened="true">
        <item id="my_profile" view="ProfileRedirect"
              title="msg://com.company.vzvod/menu.my_profile.title"/>
        <item id="my_transport" view="MyVehicle.list"
              title="msg://com.company.vzvod/menu.my_transport.title"/>
        <item id="my_shifts" view="MyShift.list"
              title="msg://com.company.vzvod/menu.my_shifts.title"/>
        <item id="my_administrative_violations" view="MyAdministrativeViolation.list"
              title="msg://com.company.vzvod/menu.my_administrative_violations.title"/>
        <item id="my_criminal_violations" view="MyCriminalViolation.list"
              title="msg://com.company.vzvod/menu.my_criminal_violations.title"/>
        <item id="my_penalties" view="MyPenalty.list"
              title="msg://com.company.vzvod/menu.my_penalties.title"/>
        <item id="my_incentives" view="MyIncentive.list"
              title="msg://com.company.vzvod/menu.my_incentives.title"/>
    </menu>

    <menu id="application" title="msg://com.company.vzvod/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.vzvod.view.user/userListView.title"/>
        <item view="Penalty.list" title="msg://com.company.vzvod.view.penalty/penaltyListView.title"/>
        <item view="Incentive.list" title="msg://com.company.vzvod.view.penalty/incentiveListView.title"/>
        <item view="Vehicle.list" title="msg://vehicleListView.title"/>
        <item id="all_vocations" view="Vocation.list" title="msg://com.company.vzvod.view.vocation/vocationListView.title"/>
        <item id="menuAllShifts" view="Shift.list"
              title="msg://com.company.vzvod/menu.all_shifts.title"/>
        <item id="all_administrative_violations" view="AdministrativeViolation.list"
              title="msg://com.company.vzvod.view.administrativeviolation/administrativeViolationListView.title"/>
        <item id="all_criminal_violations" view="CriminalViolation.list"
              title="msg://com.company.vzvod.view.criminalviolation/criminalViolationListView.title"/>
    </menu>

</menu-config>