<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="my_data" title="Мои данные" opened="true">
        <item id="my_profile" view="ProfileRedirect"
              title="Мой профиль"/>
        <item id="my_shifts" view="MyShift.list"
              title="Мои смены"/>
    </menu>

    <menu id="application" title="msg://com.company.vzvod/menu.application.title" opened="false">
        <item view="User.list" title="msg://com.company.vzvod.view.user/userListView.title"/>
        <item view="Penalty.list" title="msg://com.company.vzvod.view.penalty/penaltyListView.title"/>
        <item view="Incentive.list" title="msg://com.company.vzvod.view.penalty/incentiveListView.title"/>
        <item view="Vocation.list" title="msg://com.company.vzvod.view.vocation/vocationListView.title"/>
        <item view="AdministrativeViolation.list"
              title="msg://com.company.vzvod.view.administrativeviolation/administrativeViolationListView.title"/>
        <item id="menuAllShifts" view="Shift.list"
              title="Все смены"/>
        <item view="CriminalViolation.list"
              title="msg://com.company.vzvod.view.criminalviolation/criminalViolationListView.title"/>
        <item id="all_employees_to_read" view="UserListView"
              title="msg://com.company.vzvod.view.userlist/userListView.title"/>
    </menu>

    <menu id="events" title="Усиления" opened="true">
        <item id="future_events" view="Event.list" title="msg://com.company.vzvod.view.event/eventListView.title"/>
        <item id="last_events" view="LastEvent.list" title="msg://com.company.vzvod.view.event/lastEventListView.title"/>
        <item id="deleted_events" view="DeletedEvent.list" title="msg://com.company.vzvod.view.deletedevent/deletedEventListView.title"/>
    </menu>

    <menu id="raports" title="РАПОРТА">
        <item id="CompensatoryTimeRaportView"
              title="Рапорт на отгул"
              view="CompensatoryTimeRaportView"/>
    </menu>

</menu-config>